
<link href="/static/home.css" rel="stylesheet">

<main role="main">
    <

    <!-- Marketing messaging
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel (slider) -->
        <div class="row">
            <div class="col-lg-4">
{#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>#}
                <img class="marketing-pics" src="/static/img/home/svg/voice-message.svg" alt="Voice analysis" width="100" height="100">
                <h2>Call analysis</h2>
                <p>Calls are analyzed in real time through latest NLP technologies to extract relevant information and evaluate the urgency of the required intervention. </p>
                <p><a class="btn btn-secondary" href="/call_analysis" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
{#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>#}
                <img class="marketing-pics" src="/static/img/home/svg/route.svg" alt="Navigation" width="100" height="100">
                <h2>Unit dispatching</h2>
                <p>Using Djikstra algorithms, emergency units are dispatched in the most efficient way possible. Emergencies are when time is the most valuable. </p>
                <p><a class="btn btn-secondary" href="/unit_dispatching" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
{#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>#}
                <img class="marketing-pics" src="/static/img/home/svg/telemarketer.svg" alt="Feedback" width="100" height="100">
                <h2>Smart feedback</h2>
                <p>No more long, unrecorded radio calls. With AsTeR, all communication is integrated, intuitive and smart. AsTeR allows sharing new information from and to the dispatching center in just one touch. </p>
                <p><a class="btn btn-secondary" href="/feedback_integration" role="button">View details &raquo;</a></p>
            </div>
        </div>

